<section class="jumbotron text-center">
  <h1><%= @article.title %></h1>
  <!--<h3><%= @article.created_at.strftime("%B %d, %Y") %> -- <%= @article.user.username if @article.user != nil %></h3>-->
  <br /><br />
  <% if logged_in? && @article.user == current_user %>
    <p><%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-primary' %> | <%= link_to 'Delete Article', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %></p>
  <% end %>
</section>

<section class="container-fluid">

  <% user = @article.user %>
  <% if user%>
    <div class="row user-info">
      <%= link_to gravatar_for(user, size: 110, classes: 'img-circle'), user_path(user), style: 'float: left; margin-right: 1em;' %>
      <h2 class="no-margin" style="margin-bottom: 0.35em"><%= link_to user.username, user_path(user) %></h2>
      <small><i><%= truncate(user.bio, :length => 350) %></i></small>
    </div>
  <% end %>

  <div class="row">
    <p><%= simple_format(@article.description) %></p>
    <br /><br />
    <p><%= link_to '< See All Articles', articles_path, class: 'btn btn-default' %></p>
  </div>

</section>